.container-home {
  min-height: 95vh;
}

.section-about-me {
  background-color: $color-secondary;
  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 2rem;
    &__title {
      grid-column: 1/-1;
      text-align: center;
    }
  }
}

.about-me {
  &__container-image {
    display: flex;
    max-width: 30rem;
    margin-bottom: 2rem;
    animation: animate-about-me-image 6s linear infinite;
  }
  &__image {
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    margin-top: -6rem;
    img {
      width: 100%;
    }

    @include respond(phone) {
      grid-column: 1/-1;
      margin-top: -2rem;
    }
  }
  &__info {
    grid-column: 6/13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-white;
    font-size: 2rem;
    animation: moveInRight 2s ease-out;
    margin-top: 2rem;
    @include respond(phone) {
      margin-bottom: 2rem;
      grid-column: 1/-1;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    /* align-items: center;*/
    flex-wrap: wrap;
    /*    padding: 0 1rem;*/
    @include respond(phone) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    margin-top: 1rem;
  }
}

@keyframes animate-about-me-image {
  0% {
    transform: translateX(3rem);
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(3rem);
  }
}
.section-skills {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  &__grid {
    display: grid;
    grid-auto-rows: 20rem;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    @include respond(phone) {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      grid-auto-rows: 15rem;
    }
  }
}

.skill {
  &__container-image {
    display: flex;
    transition: transform 0.3s;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      transform: translateY(1.5rem) scale(1.03);
    }
  }
  &__image {
    width: 100%;
  }
}
.section-projects {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  &__title {
    text-align: center;
  }
  &__description {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  &__grid {
    padding: 2rem 0;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 280px), 0.7fr));
    justify-content: center;

    @media only screen and (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}

.section-contact {
  padding: 8rem 0;
}

.contact {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.7) 0%,
      rgba($color-white, 0.7) 50%,
      transparent 50%
    ),
    url(../../images/programador.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.7) 0%,
        rgba($color-white, 0.7) 65%,
        transparent 65%
      ),
      url(../../images/programador.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.7) 0%,
        rgba($color-white, 0.7) 100%
      ),
      url(../../images/programador.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
      padding: 6rem 4rem;
    }
  }
}
